1. Interpolation
<br>
Welcome {{name}}
<br>

{{emp.name}}<br>
{{emp.position}}
<br><br>

2. String Concatination
<br>
{{'My name is '+ name}}

<br><br>

3. Calculations
<br>
{{5+5}}
<br>
{{5*5}}
<br>
{{price * quantity}}

<br><br>

4. Built in javascript methods
<br>
{{ name.length}}<br>
{{ name.toUpperCase() }}<br>
{{name.slice(1,3)}}

<br><br><br>

5. Display Methods Result
<br>
{{ calculateTotal() }}<br>
{{ calculateTax().toFixed(2) }}

<br><br>

6. Ternary Conditional Operator

<br>
<button>{{editMode ? 'Update Employee': 'Add Employee'}}</button>
