<!-- <app-notifications></app-notifications> -->

<h1>{{title}}</h1>
<h3>Welcome to Angular</h3>
<app-apexchart></app-apexchart>

<!-- <a routerLink="student">student</a>
<br>
<a routerLink="interpolation">interpolation</a>
<br>
<a routerLink="property">property-Binding</a>
<br>
<a routerLink="event">event-Binding</a>
<br>
<a routerLink="twoway">twoway-Binding</a>
<br>
<a routerLink="login">login</a> -->


<!-- <router-outlet></router-outlet> -->

<!-- <app-login></app-login> -->
<!-- <app-steps></app-steps> -->

<!-- <app-databinding></app-databinding> -->

<!-- <app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-class-binding></app-class-binding>-->

<!-- <app-twoway-data></app-twoway-data> -->
